.kk
{
    background: #062b7b;
    text-align: center;
    position: relative;
    top: 50px; 
    padding: 100px 10px 10px 10px;
}

.kk img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links a{
    text-decoration: none;
    color: black;
}

.links button{
    width: 100px;
    background: #57678a;
}
.right-menu{
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    display: none;
    position: fixed;
    right: 10px;
    background-color: rgb(167, 167, 167) ;
    min-width: 100px;
    border-width: 10px;
    border-radius: 5%;
    z-index: 1;
    text-align: center;
}
#interface .navigation .profile a,li{
    text-decoration: none;
    list-style: none;
}
.right-menu:hover .dropdown-menu{
    display: block;
}
#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
    padding: 4px;
}
#interface .navigation .profile i:hover{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
    padding: 4px;
    background: #030f27;
    color: #b2b8c3;
    border-radius: 50px;
}
