@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body
{
    width: 100%;
    background: #e5e7eb;
    position: relative;
    display: flex;

}

#menu{
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}

#menu .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}
 
#menu .logo img{
    width: 40px;
    margin-right: 15px;
}

#menu .items li{
    list-style-type: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li:hover{
    background: #253047;
    cursor: pointer;
    border-left: 4px solid rgb(157, 20, 178);
}
/*#menu .items li:nth-child(1){
    border-left: 4px solid rgb(157, 20, 178);
}*/

#menu .items li i{
    color: rgb(134,141,151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px 0 25px; 
}
#menu .items li:hover i,
#menu .items li:hover a {
    color: #F3F4F6;
}

#menu .items a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300px;
    font-size: large;
    transition: 0.3s ease;
}

#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;

}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width: calc(100% - 300px);
    z-index: 9;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .search i{
    margin-right: 14px;

}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}



#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}


.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}

.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box{
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex start;
    align-items: center;
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: chartreuse;
    margin-right: 15px;
}

.values .val-box:nth-child(1) i{
    background: #153780;
}
.values .val-box:nth-child(2) i{
    background: #886;
}
.values .val-box:nth-child(3) i{
    background: #444a53;
}
.values .val-box:nth-child(4) i{
    background: #090909;
}


.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}
.values .val-box span{
    font-size: 15px;
    color: #828997;

}

.board{
    width: 100%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;

}
 table{
    border-collapse: collapse;
 }

 tr{
    border-bottom: 1px solid #eef0f3;
 }
 td {
    text-align: center;
  }

 thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9af8f;
    text-align: center;
    padding: 15px;
 }
 tbody tr td{
    text-align: center;
    padding: 10px 15px;
 }

.board h5 {
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 600;
    font-size: 14px;
    color: #787d8d;

}

tbody a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 300px;
    transition: 0.3s ease;
}


#interface .adduserbutton a{

    text-decoration: none;
    transition: 0.3s ease;
    color: rgb(0, 0, 0);
}

#interface .adduserbutton button{
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
}
    

#details
{
    position: relative;
    top: 100px; 
    right: 500px;
}
#details div{
    box-sizing: content-box;
    border: 3px solid #194198;
    padding: 40px;
    border-radius: 1%;

}

#details input[type=text],input[type=password]{
    width: 500px;
    padding: 12px 12px 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
#details label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
#details .error,#logindetails .error{
    color: red;
}

.login
{
   background: #111827;
    position: relative;
    top: 200px; 
    right: 350px; 
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
}

.login input[type=text],input[type=password]{
    width: 500px;
    padding: 12px 12px 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .login label{
    color: #828997;
  }
  .login button
{
    width: 100px;
    border-radius: 4px;
}
.patientdetails
{
    background: rgb(197, 186, 186);
    position: relative;
    top: 150px; 
    right: 300px; 
    padding: 50px 50px;
    box-sizing: content-box;
    border: 3px solid #194198;
    border-radius: 10px;
    font-size: 2ch;
}
.patientdetails a
{
text-decoration: none;
color: rgb(0, 0, 0);
font-weight: 300px;
transition: 0.3s ease;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
  }

